<!DOCTYPE html>
<html lang="en">
<head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-150095876-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-150095876-1');
</script>



  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="description" content="C# .Net programmerings-stream på lunchen. C# 8 .net core 3">
  <meta name="author" content="Karl Tillström">

    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- <meta name="viewport" content="width=550px, initial-scale=1"> -->

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Mate&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet"
  href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/vs2015.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ '/css/normalize.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/css/skeleton.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/css/font-awesome.min.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/css/jquery.fancybox.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{{ '/images/favicon.png' | relative_url }}" />

  <!-- Javascript
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script type="text/javascript" src="{{ '/js/jquery.2.1.3.min.js' | relative_url }}"></script>
  <script type="text/javascript" src="{{ '/js/isotope.pkgd.min.js' | relative_url }}"></script>
  <script type="text/javascript" src="{{ '/js/scrollreveal.js' | relative_url }}"></script>
  <script type="text/javascript" src="{{ '/js/singlenav.js' | relative_url }}"></script>
  <script type="text/javascript" src="{{ '/js/jquery.fancybox.js' | relative_url }}"></script>
  <script type="text/javascript" src="{{ '/js/scripts.js' | relative_url }}"></script>
  </head>
<body>

{{content}}


</body>
</html>