---
layout: default
---
<!-- Menu -->
<nav class="navigation">
        <a href="#" class="menu-icon">
          <i class="fa fa-bars"></i>
        </a>
        <ul class="main-navigation">
          <li><a href="{{ '/index.html#hero' | relative_url }}">Lunchmed.NET</a></li>
          <li><a href="{{ '/index.html#introduction' | relative_url }}">Vad är Lunchmed.NET?</a></li>
          <li><a class="external" href="{{ '/blog/' | relative_url }}">Blogg</a></li>
        </ul>
      </nav>
      

{{ content }}