---
layout: default
---
<!-- Menu -->
<nav class="navigation">
  <a href="#" class="menu-icon">
    <i class="fa fa-bars"></i>
  </a>
  <ul class="main-navigation">
    <li><a href="{{ '/index.html#hero' | relative_url }}">Lunchmed.NET</a></li>
    <li><a class="external" href="{{ '/e5kommandeavsnitt.html' | relative_url }}">Nästa avsnitt</a></li>
    <li><a href="{{ '/index.html#introduction' | relative_url }}">Vad är Lunchmed.NET?</a></li>
    <li><a class="external" href="{{ '/blog/' | relative_url }}">Blogg</a></li>
    <li><a href="{{ '/index.html#contact' | relative_url }}">Kontakt</a></li>
  </ul>

  <div style="margin-top: 20px;">
    <a href="https://youtube.com/channel/UCgRHdbaT_Bpf_xAgI_v_GOw" target="_blank"><i class="fa fa-youtube"></i></a>
    -
                <a href="https://twitch.tv/lunchmednet" target="_blank"><i class="fa fa-twitch"></i></a>
    -
                <a href="https://github.com/skarlman/" target="_blank"><i class="fa fa-github"></i></a>
     -
                <a href="https://www.linkedin.com/in/skarlman/" target="_blank"><i class="fa fa-linkedin"></i></a>
      
  </div>
  
</nav>


{{ content }}