---
layout: default
---
<section class="container u-full-width u-max-full-width">
    <div class="row"> 
      <div class="three columns">
         
          <br><br><br>
          <img src="{{ '/images/karl.png' | relative_url }}">
          <h5>Karl Tillström</h5>
              
            <a href="http://twitter.com/lunchmednet" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://www.facebook.com/LunchmedNet-102652597807761/" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="https://www.linkedin.com/in/skarlman/" target="_blank"><i class="fa fa-linkedin"></i></a>
            <div style="margin-top: 20px;">
              <a href="{{ '/blog' | relative_url }}">Blogg</a>
  
            </div>
          
      </div>
      
      <div class="nine columns blogcontainer u-full-width">
      
        
              <h1 class="post-title">{{page.title}}</h1>
              <span class="u-pull-left"><i>{{page.date}}</i></span>  
              <div class="u-cf"></div>  
              
              {{content}}
              
      </div>
  
    </div>
  </section>
  
  