---
layout: default
---
<section class="container u-full-width u-max-full-width">
    <div class="row"> 
      <div class="three columns">
         
          <br><br><br>
          <img src="{% link images/karl.png %}">
          <h5>Karl Tillström</h5>
              
            <a href="http://twitter.com/wdtuts" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://www.facebook.com/webdesigntutsplus" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="https://plus.google.com/117485987435498566293" target="_blank"><i class="fa fa-google-plus"></i></a>
          
      </div>
  
      <div class="nine columns blogcontainer u-full-width">
      
        
              <h1 class="post-title">{{page.title}}</h1>
              <span class="u-pull-left"><i>{{page.date}}</i></span>    
              
              {{content}}
              
      </div>
  
    </div>
  </section>
  
  